{
  "btcd": [
    {
      "url": "fractald:${FBTC_RPC_PORT}",
      "auth": "${RPC_USER}",
      "pass": "${RPC_PASSWORD}"
    }
  ],
  "btcaddress": "${PAYOUT_ADDRESS}",
  "btcsig": null,
  "blockpoll": 20,
  "update_interval": 5,
  "serverurl": [
    "0.0.0.0:3333"
  ],
  "logdir": "/www",
  "webdir": "/www/pool",
  "userdir": "/www/users",
  "longpoll": true,
  "mindiff": 20000,
  "zmqblock": "tcp://fractald:${FBTC_ZMQ_HASHBLOCK_PORT}"
}
