version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: willitmod-dev-axelive_server_1
      APP_PORT: 5210

  server:
    image: ghcr.io/willitmod/axelive-release:v1.2-r1@sha256:ef42296f4997fb0534b9279ccf538905d9c668f9a9b2c8ee71704c09a5c69c1b
    restart: on-failure
    stop_grace_period: 30s
    init: true
    environment:
      AXELIVE_HOME: /data
      AXELIVE_PORT: 5210
      AXELIVE_HOST: 0.0.0.0
      AXELIVE_OPEN_UI: 0
    volumes:
      - ${APP_DATA_DIR}/data:/data
